@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: hsl(36, 100%, 99%);
  padding-bottom: 10rem;
}

p {
  font-size: 15px;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

.flex-it {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.side-bar {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 2rem;
}

.new-text {
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.mini-header {
  margin: 2rem auto;
}

.bright {
  font-size: 3rem;
  font-weight: 900;
}

.red-btn {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  padding: 1rem 2rem;
  text-transform: capitalize;
  border: 0px none;
}

.news-item {
  margin-bottom: 1rem;
}

.news-item h4 {
  color: white;
  margin-bottom: 0.3rem;
}

.news-item hr {
  border: none;
  border-top: 1px solid hsl(236, 13%, 42%);
}

.news-item p {
  font-size: 13px;
  font-weight: lighter;
  color: hsl(233, 8%, 79%);
  margin-bottom: 1.5rem;
}

.sider-item {
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline-block;
  margin: auto 1rem;
  color: hsl(236, 13%, 42%);
}

header {
  padding: 3rem 0;
}

.articles {
  display: flex;
  margin-top: 3rem;
  gap: 5rem;
}

.article-img {
  width: 100%;
}

.div-img-article {
  width: auto;
  height: 20%;
}

.sider-item h3 {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
}

.sider-item h5 {
  font-weight: 800;
  font-size: 1rem;
}

.sider-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sider-item p {
  color: hsl(233, 8%, 79%);
  font-size: 13px;
}
