@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

/* colors */

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--almost-white);
}

body {
  padding: 2rem;
}

body p {
  font-size: 18px;
  color: var(--almost-black);
}

.flex-container {
  display: flex;
  gap: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin: auto 1rem;
  cursor: pointer;
  color: var(--medium-gray);
}

main {
  padding: 5rem 5rem 0;
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

main h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--almost-black);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-content p {
  color: var(--medium-gray);
  line-height: 1.8rem;
  width: 70%;
  font-weight: 500;
}

#make::after {
  content: "\a";
  white-space: pre;
}

.client-logos img {
  margin-right: 2rem;
}

.main-image {
  width: auto;
  height: 70vh;
}

.btn-outline {
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--medium-gray);
  color: var(--medium-gray);

  border-radius: 0.7rem;
  cursor: pointer;
  margin: auto 0.2rem;
}

.btn-no-border {
  padding: 0.7rem 1.5rem;
  border: none;
  color: var(--medium-gray);
  border-radius: 0.7rem;
  cursor: pointer;
  margin: auto 0.2rem;
}

.btn-filled {
  padding: 1.2rem 1.5rem;
  color: hsl(0, 0%, 98%);
  border: 1px solid var(--almost-black);
  background-color: var(--almost-black);
  border-radius: 0.7rem;
  cursor: pointer;
}
